body.light {
  --background: #fff;
  --font-color: #000;
}

body.dark {
  --background: #222;
  --font-color: #fff;
}

body {
  background-color: var(--background);
  color: var(--font-color);
  width: 250px;
  margin: 2rem auto;
  transition: background-color 0.2s, color 0.2s;
}
